.card {
    background-color: var(--light-navy);
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    border: 1px solid black;
}