.timeline-grid-container {
    height: 60vh;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 3fr;
    /* grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr; */
    grid-auto-columns: 1fr;
    margin-bottom: 150px;
    overflow-x: scroll;
    grid-gap: clamp(0.2fr, 1vw, 1fr);
    grid-column-gap: 1vw;;
}

.timeline-grid-container img {
    width: 100%;
    border-radius: 15px;
}

.timeline-line {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-line > hr {
    width: 100%;
    margin-left: 0;
    background-color: white;
}

.timeline-start {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    display: flex;
    justify-content: end;
    align-items: center;
    border-right: 2px solid white;
    padding-right: 1vw;
}

.timeline-start > p {
    writing-mode: vertical-rl;
    margin: 0;
    transform: rotate(180deg);
}

.timeline-item-container {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.experience-pic {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.timeline-connection {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    justify-content: end;
    align-items: end;
}

.timeline-connection-line {
    border-right: 1px solid white;
    height: 75%;
}

.experience-description {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s;
}

.experience-description p {
    width: 100%;
    margin: 0;
}

.experience-description > .title {
    color: var(--lightest-slate);
    font-size: clamp(25px, 2vw, 45px);
}

.experience-description > .subtitle {
    color: var(--light-slate);
    font-size: clamp(15px, 1vw, 35px);
}

.experience-description > p .hightlighted {
    color: var(--blue-green);
    font-size: clamp(15px, 1vw, 35px);
    display: inline;
    font-style: italic;
}

.description {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: clamp(8px, 1.25vw, 20px);
    color: var(--slate);
}

.description li {
    position: relative;
    padding-left: 30px;
    margin: 8px 0;
}

.description li::before {
    content: ">";
    position: absolute;
    left: 0px;
    color: var(--blue-green);
}

.description .hightlighted {
    display: inline;
    color: var(--blue-green);
}

.experience-pic:hover + .experience-description {
    opacity: 1;
}