.nav-container {
  padding: 0 clamp(10px, 3vw, 50px);
  display: flex;
  color: var(--light-slate);
  /* height: clamp(40px, 5vw, 80px); */
  height: 80px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  background-color: var(--navy);
  z-index: 1000;
}

ol {
  padding: 0;
  z-index: 100;
}

.nav-container > ol {
  display: flex;
  justify-content: space-between;
  gap: clamp(15px, 1.5vw, 35px);
}

.nav-container > ol > a {
  /* font-size: clamp(8px, 1.25vw, 20px); */
  font-size: 20px;
}

.icons > a {
  /* font-size: clamp(10px, 1.25vw, 25px) !important; */
  font-size: 25px !important;
}

.header-initials {
  position: absolute;
  margin: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: var(--blue-green);
  font-weight: 1000;
  font-size: 20px;
  /* height: clamp(40px, 5vw, 80px); */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-initials > a {
  margin: 0;
  /* font-size: clamp(20px, 3vw, 50px); */
  font-size: 50px;
}

.header-container {
  visibility: hidden;
  position: fixed;
  width: 100vw;
  animation: slideInFromTop 1s 1s forwards;
  z-index: 1000;
}

.nav-container > ol > a:hover {
  color: var(--blue-green);
}